/* font-family: 'Bungee Spice', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */
/* stylize navbar */
nav{
    padding: 1rem 2rem;
  }
  nav .menuIcon{
    display: none;
  }
  nav ul{
    list-style:none;
    display:grid;
    grid-template-columns: 1fr repeat(3, 100px);
    grid-gap:5rem;
    justify-content: center;
    
  }
  nav ul li{
    display: flex;
    justify-content: center;
    flex-direction: column
  }
  nav  ul li.logo{
    font-family: 'Roboto Slab', serif;
  }
  nav  ul li.logo img{
    max-width:100px;
  }
  nav ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color:#000;
  }
  /* stylize the big title   */
  .bigTitle{
    background-image: url('../../img/background.jpg');
    background-size:100%;
    text-align: center;
    padding:.5rem 2rem;
    color:#fff;
    height:60vh;
    display:flex;
    align-items: center;
  }
  .bigTitle h1{
    font-size: 4rem;
    padding:0 .5rem 0 0;
    position: absolute;
    right: 0;
    top:0;
    color:#000;
    display: none;
  }
  .bigTitle span{
    font-style: italic;
    font-size: 2rem;

  }
  .bigTitle i{
    font-size:4rem;
  }
  /* ******************add media query ******************** */

  @media screen and (max-width: 720px){
    /* list menu stylize */
    nav ul{
      grid-template-columns: 1fr;
      justify-content: center;
      overflow: hidden;
      height: 0;
      align-items: center
    }
    nav .menuIcon{
      display: block;
    }
    nav ul li{
      text-align: center;
      display: block;
      gap: 1rem;
    }
    nav ul li.logo{
      display:none;
    }
    /* stylize */
    .bigTitle{
      height:30vh;
    }
    .bigTitle h1{
      display: block;
    }
    .bigTitle span{
      font-style: italic;
      font-size: 1.5rem;
    }
  }