.contact{
    padding:12rem 5rem;
    display: flex;
    justify-content:space-between;
}
.contact h3{
    font-size: 1.8rem;
}
.contact h2{
    font-size: 3.5rem;
}
.contact .whatsapp .whatsapp_container{
    width:80px;
    height: 80px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background:yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ******************    add media query    ******************** */



@media screen and (max-width: 720px){
    .contact{
        padding:6rem 2.5rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
  }