.store{
padding: 2rem;

}
.store h2{
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
.store .items-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    font-family: 'Roboto', sans-serif;
}

.store .items-container .productImg img{
    max-width: 100%;
}
.store .items-container .product-name {
    color: #3b3b3b;
    padding:.5rem 0 .5rem 0;
}
.store .items-container .price{
    color:rgb(254, 75, 75);
    font-weight: bolder;
}
.store .items-container .price .firstPrice{
    color: #3b3b3b;
    text-decoration-line: line-through;
    font-weight:300;
    padding:.5rem;
}
/* ******************    add media query    ******************** */



@media screen and (max-width: 720px){
    /* stylize the grid for the small devices */
    .store{
        padding: 2rem .5rem;
        }
    .store .items-container{
        grid-template-columns:auto auto;
        grid-gap: 1rem;
    }
  }