.store{
padding: 2rem;

}
.store h2{
    font-size: 2rem;
    margin: 2rem auto;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1rem;
}
#listFillter{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:.5rem;
    padding:2rem .5rem;
    margin: 0 auto;
    width:50%;
    flex-wrap: wrap;
}
#listFillter li button{
    display: inline-block;
    width:100%;
    height:100%;
    outline: none;
    background:#fff;
    border:1px rgb(216, 216, 216) solid;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: .5rem .5rem;
    cursor:pointer;
    transition:all .5s ease-in;
    -webkit-transition:all .5s ease-in;
    -moz-transition:all .5s ease-in;
    -ms-transition:all .5s ease-in;
    -o-transition:all .5s ease-in;
}
#listFillter li button#selectedItems{
        color:#fff;
        background:#0a6f67;
}
.store .items-container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3rem;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.store .items-container .productImg{
    text-align: center;
}
.store .items-container .productImg img{
    max-width: 100%;
}
.store .items-container .product-name {
    color: #3b3b3b;
    padding:.5rem 0 .5rem 0;
}
.store .items-container .price{
    color:rgb(254, 75, 75);
    font-weight: bolder;
}
.store .items-container .price .firstPrice{
    color: #3b3b3b;
    text-decoration-line: line-through;
    font-weight:300;
    padding:.5rem;
}
/* ******************    add media query    ******************** */



@media screen and (max-width: 720px){
    /* stylize the grid for the small devices */
    .store{
        padding: 2rem .5rem;
        }
    .store .items-container{
        grid-template-columns:auto auto;
        grid-gap: 1rem;
    }
  }